
<div class="search-component">
    <h1>Editar Canción</h1>
    <label>Cancion</label>
    <label>Album</label>
    <label>Cover</label>
    <label>Artista</label>
    <label>Id</label>
    <br>
    <form (ngSubmit)="sendTrack()" [formGroup]="formTrack" class="login-auth-form">
        <input type="text" formControlName="cancion" placeholder="">
        <input type="text" formControlName="album" placeholder="">
        <input type="text" formControlName="cover" placeholder="">
        <input type="text" formControlName="artista" placeholder="">
        <input type="text" formControlName="id" placeholder="">
        <button (click)="onSubmit('Editar')">Editar</button>
        <button (click)="onSubmit('Agregar')">Agregar</button>
    </form>
    <br>

</div>